
#webmap {
  width: 100%;
  height: 60vh;
}

.content {
  margin-top: 10vh;
}

img.logo {
  display: inline-block;
  height: 50px;
  width: auto;
}

h1.header {
  margin-top: 24px;
}

h2.sub-header {
  font-size: 3rem;
}

p.source {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}

.leaflet-popup-content {
  margin: 20px;
}

.leaflet-popup-scrolled {
  border: none;
}

.leaflet-control-layers-list {
  padding: 4px;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

@-moz-document url-prefix() {
  .leaflet-control-layers-list input {
    position: relative;
    top: 4px;
  }
}

.attrs-popup table {
  margin-right: 8px;
}

.attrs-popup table tr:nth-child(odd) {
  background-color: #f2f2f2
}

.attrs-popup table td {
  padding: 8px 4px;
  text-align: center;
  max-width: 140px;
  word-wrap: break-word;
}